html {
  font-family: Helvetica, sans-serif;
}

.header {
  background-image: url("../img/pattern.jpeg");
}

.header h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.store-product h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.cost-per-item {
  font-weight: bold;
  color: blue;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}
